# Dependencias de Node
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js
.next/
out/
build/

# Entorno local (Keys)
.env
.env.local
.env.*.local

# Python y Flask
__pycache__/
*.py[cod]
*$py.class
python-backend/venv/
venv/
env/
ENV/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel y Sistema Operativo
.vercel/
.DS_Store

# TypeScript
*.tsbuildinfo
next-env.d.ts
